* {
    box-sizing: border-box;
  }

  :root {
    --background-color: rgb(110, 133, 183);
    --primary: Black; 
    --secondary: rgb(248, 249, 215);
    --third: rgb(178, 200, 223);
    --fourth: rgb(177, 175, 255);
  }

  body {
    background-color: var(--background-color);
    color: var(--primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    border-radius: 5px;
    box-shadow: 0 0 4px 4px;
    background-color: var(--secondary);
    padding: 50px;
    margin: 200px 300px;
    width: 800px;
    height: 500px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .rules {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    padding: 15px 2px 0px 0px;
  }

  .timer-style {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: -15px 10px 20px 10px;
    border-radius: 10px;
    border-color: black;
    background-color: var(--third);
    box-shadow: 10px;
    font-size: 18px;
    
  }

  .btns-style {
    margin: 15px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  
  .btn {
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--third);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--fourth);
  }

  .btn.correct {
    background-color: rgb(25, 194, 25);
  }

  .btn.incorrect {
    background-color: rgb(252, 63, 63);
  }
 .start-btn, .next-btn {
  padding: 5px 15px;
  font-size: 25px;
  font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hide {
    display: none;
  }
 /* #rule-box {
    background-color: var(--third);
    width: 765px 10px;
    border: solid var(--secondary);
    border-radius: 5px;
    padding: 5px;
    margin: 300px 525px;
  }
h1 {
  text-align: center;
}
.text {
  padding: 5px 40px;

}
 #start {
  display: flex;
  justify-content: center;

 }

 #start button {
  border-radius: 10%;
  border: solid 2px;
  background-color: var(--secondary);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
 }

 #start button:hover {
  background-color: black;
  color: rgb(249, 249, 249)
 }